{{!-- The following component displays Ember's default welcome message. --}}
<div class="main-container">
    <h1>Plataforma departamento Sistemas-Informatica</h1>
    <div class="description">
        <a href="/registro-estudiantes">Estudiante</a>
        </div>
    <hr>
    <div class="description">
        <a href ="/registro-docente">Docente</a>
    </div>
    <hr>
    <div class="description">
        <a href ="/registro-institucion">Institucion</a>
    </div>
    <hr>
   {{!-- <div class="description">
        <a href="/registro">Registrarse</a>
    </div>
    <hr>--}}
    {{outlet}}
</div>