<div class="secondary-container">
  <h1>Registro Docentes</h1>
  <div class="input-div">
    <label>Nombre</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Apellido</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Fecha Nacimiento</label>
    <input type="date" >
  </div>
  <div class="input-div">
    <label>E-mail</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Nick</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Carrera</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Institucion</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Area</label>
    <select name="Area">
      <option>Informatica</option>
      <option> Sistemas</option>
    </select>
  </div>
  <div class="input-div">
    <label>Clase</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Objetivos de la clase</label>
    <input type="text" >
  </div>
  <button class="form-button">Guardar</button>
  {{outlet}}
</div>