<div class="secondary-container">
  <h1>Registro estudiante</h1>
  <div class="input-div">
    <label>Nombre</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Apellido Paterno</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Apellido Materno</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>C.I</label>
    <input type="number" >
  </div>
  <div class="input-div">
    <label>Direccion</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Correo</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Codigo</label>
    <input type="text" >
  </div>
  {{!-- <div class="input-div">
      <label>Subir foto</label>
      
      <button class="form-button1">Subir foto</button>
  </div> --}}
  <div class="input-div">
    <label>Fecha Nacimiento</label>
    <input type="date" >
  </div>
  <button class="form-button">Guardar</button>
  {{outlet}}
</div>