    <div class="secondary-container">
        <a href="/registro-estudiantes">Estudiante</a>
        </div>
    <hr>
    <div class="secondary-container">
        <a href ="/registro-docente">Docente</a>
    </div>
    <hr>