<div class="secondary-container">
  <h1>Registro Institucion</h1>
  <div class="input-div">
    <label>Nombre Institucion</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Gerente</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Direccion</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Telefono</label>
    <input type="number" >
  </div>
  <div class="input-div">
    <label>E-mail</label>
    <input type="text" >
  </div>
  <div class="input-div">
    <label>Pais</label>
    <input type="text" >
  </div>
  <button class="form-button">Guardar</button>
  {{outlet}}
</div>